.Rproj.user
.Rhistory
.RData
.Ruserdata
demogRafi.Rproj
## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.nav
*.snm
*.vrb
.*.lb
*.el
*.fdb_latexmk
*.synctex.gz
studenter-gdrive/
old/
auto/
Mailbox/
admin/
eksamen/
